.VurtisDemo {
  /*
   * This wrapper - or any other parent of <GridList /> - cannot be
   * positioned (have a stacking context) or else offsetTop cannot
   * be captured within useVurtis().
  */

  /*
  display: grid;
  gap: var(--app-gap);
  */
}

.ActionBar {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  gap: var(--app-padding);
  padding-top: var(--app-gap);
}
