.Footer {
  padding-bottom: var(--app-gap);
  padding-left: var(--app-padding);
  padding-right: var(--app-padding);
  text-align: center;
}

.Text {
  font-size: 1.2rem;
  font-weight: 400;

  > a {
    font-weight: 600;
  }
}
