.Nav {
  --nav-gap: 0.6rem;
  --nav-font-size: 1.6rem;
  --nav-bg: transparent;

  z-index: var(--app-index-middle);
  position: sticky;
  top: 0;
  display: grid;
  justify-items: center;
  justify-content: center;
  padding-top: var(--app-gap);
  width: 100%;
  overflow-x: hidden;

  @media (min-width: 1280px) {
    --nav-gap: 1rem;
    --nav-font-size: 2.4rem;
  }
}

.sticky {
  --nav-bg: var(--color-black-90);

  & .Item {
    color: var(--color-cream);
  }
}

.Container {
  border-radius: 999rem;
  backdrop-filter: blur(4px);
  background-color: var(--nav-bg);
  transition: background-color var(--duration-slow) var(--easing-cubic);
}

.List {
  display: grid;
  grid-auto-flow: column;
  gap: var(--nav-gap);
  justify-content: center;
  padding: var(--app-padding) var(--app-gap);
}

.Item {
  display: grid;
  grid-auto-flow: column;
  gap: var(--nav-gap);
  font-size: var(--nav-font-size);
  font-weight: 700;

  &::before {
    display: block;
  }

  & + &::before {
    content: '\2022';
  }
}

.EmptyState {
  font-size: var(--nav-font-size);
  font-weight: 700;
}
