.PrimitiveLink {
  display: inline-block;

  &[data-link-disabled] {
    /* mixin: .interaction-disable */
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}

.PrimitiveButton {
  &:disabled,
  &[data-button-static] {
    /* mixin: .interaction-disable */
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}
