.PrimitiveLink {
  display: inline-block;

  &[data-link-disabled] {
    /* .interaction-disable */
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}

.PrimitiveButton {
  &:disabled,
  &[data-button-static] {
    /* .interaction-disable */
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }

  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: background-color, outline-color;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--easing-cubic);

  &:focus-visible {
    outline-color: var(--color-coral);
  }
}
