.VurtisPage {
  /*
   * This wrapper - or any other parent of <GridList /> - cannot be
   * positioned (have a stacking context) or else offsetTop cannot
   * be captured within useVurtis().
  */
}

.VurtisDemo {
}

.ActionBar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.LoadMoreWrapper {
  display: grid;
  justify-items: center;
  padding-top: var(--app-gap);
}

/* --- Grid --- */

.Grid {
  display: grid;
  gap: 20px;
}

.GridDetails {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.GridTitle {
  font-size: 20px;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

.GridList {
  --grid-list-card-bg: rgb(0, 255, 0, 0.1);
  position: relative;
}

.reversed {
  --grid-list-card-bg: rgb(0, 0, 255, 0.1);
}

.fallbackList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-template-rows: auto;
  align-content: start;
  align-items: start;
  gap: 10px;

  @media (min-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
  }
}

.GridItem {
  position: absolute;
  box-shadow: inset 0 0 0 2px black;
}

.fallbackItem {
  position: static;
}

.GridCard {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
  width: 100%;
  aspect-ratio: 1 / 1.2;
  border-radius: 6px;
  background-color: var(--grid-list-card-bg);
}

.GridCard h2 {
  font-size: 20px;
  font-weight: 700;
  color: blue;
}

.GridCard h3 {
  font-size: 18px;
  font-weight: 700;
  color: green;
}

.GridCard h4 {
  font-size: 16px;
  font-weight: 700;
  color: orange;
}

.GridCard p {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
