/* --- App --- */

html {
  background-color: var(--color-cream);
}

body {
  font-family: var(--font-stack);
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-blue);
}

#WakuApp {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sidebar page';
  }
}

/* --- Typography --- */

.typography {
  --typography-text-size: 1.6rem;
  --typography-quote-size: 2rem;

  > * + * {
    margin-top: 1em;
  }

  & li {
    margin-top: 0.4em;

    > p {
      margin-top: 0.2em;
    }
  }

  > p,
  > * p {
    line-height: 1.2;

    & strong {
      font-weight: 700;
    }

    & code {
      padding-left: 0.2em;
      padding-right: 0.2em;
      border-radius: 0.2em;
      font-family: var(--font-stack-mono);
      font-size: 0.8em;
      background-color: rgb(0, 0, 0, 0.04);
    }
  }

  & p,
  & ol,
  & ul,
  & li {
    font-size: var(--typography-text-size);
    font-weight: 400;
  }

  & ol,
  & ul {
    padding-left: 1em;
  }

  & ol {
    list-style: counter;
  }

  & ul {
    list-style: disc;
  }

  > blockquote {
    position: relative;
    padding: 0.6em;
    padding-left: 0.8em;
    font-size: var(--typography-quote-size);
    border-radius: 0.4em;
    background-color: rgb(0, 0, 0, 0.04);
    overflow: hidden;

    > p {
      font-size: inherit;
      font-weight: 300;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.2em;
      background-color: var(--color-coral);
    }
  }

  @media (min-width: 768px) {
    --typography-text-size: 2rem;
    --typography-quote-size: 2.4rem;
  }

  @media (min-width: 1280px) {
    --typography-text-size: 2.4rem;
    --typography-quote-size: 2.8rem;
  }

  @media (min-width: 1440px) {
    --typography-text-size: 2.8rem;
    --typography-quote-size: 3.2rem;
  }
}

.text-box-trim {
  /* A rough approximation of the future `text-box-trim` property. */
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: -0.14em;
  }
}

/* --- Media --- */

.image-pixel {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

/* --- Actions --- */

.interaction-disable {
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

.link-basic {
  text-decoration: underline 0.1rem transparent;
  transition-property: opacity, color, text-decoration-color;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--easing-cubic);

  &:hover {
    text-decoration-color: currentColor;
  }
}

.button-basic {
  outline: 0.2rem solid transparent;
  outline-offset: 0.2rem;
  transition-property: color, background-color, border-color, outline-color,
    opacity;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--easing-cubic);

  &:focus-visible {
    outline-color: var(--color-coral);
  }
}

/* --- Pages --- */

.page {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    padding-left: calc(var(--sidebar-width) + var(--sidebar-gap));
  }

  @media (min-width: 1440px) {
    grid-area: page;
    padding-left: 0;
  }
}

.main-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.main-text {
  font-size: 1.6rem;
  font-weight: 400;
}
