/* --- Resets --- */

.reset-input-number {
  -moz-appearance: textfield !important;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.reset-input-range {
  cursor: pointer;
  width: 100%;

  &::-webkit-slider-thumb {
    appearance: none;
    box-shadow: none;
  }

  &::-moz-range-thumb {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.reset-input-search {
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/* --- Interaction --- */

.interaction-disable {
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

.interaction-enable {
  pointer-events: unset;
  touch-action: unset;
  user-select: unset;
}

/* --- Layout --- */

.flex-fix-width {
  min-width: 0;
  max-width: 100%;
}

.flex-fix-height {
  min-height: 0;
  max-height: 100%;
}

/* --- Media --- */

.media-cover {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-wrapper {
  display: grid;
  place-items: center;
  place-content: center;
  flex: 0 0 auto;
}

.svg-base {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/* --- Typography --- */

.line-clamp {
  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-height-fix {
  margin-bottom: 0;
  padding-bottom: 0.14em;
}

.truncate-height-fix-nudge {
  margin-bottom: -0.14em;
  padding-bottom: 0.14em;
}

.text-box-trim {
  /* A rough approximation of the future `text-box-trim` property. */
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: -0.14em;
  }
}

/* --- Position --- */

.position-cover {
  position: absolute;
  inset: 0;
  margin: auto;
}

/* --- Visibility --- */

.visible-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.visible-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
