.CardList {
  /* --- Fallback grid styles --- */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-template-rows: auto;
  align-content: start;
  align-items: start;
  gap: 1rem;

  @media (min-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 1.6rem;
  }
}

.CardItem {
}

/* --- Virtualized --- */

.virtualList {
  position: relative;
  display: block;
}

.virtualItem {
  position: absolute;
}
