.Card {
  z-index: 1;
  position: relative;
}

.Link {
  &:hover:not(:active) .Interior {
    background-color: var(--color-black-10);
  }

  &:hover .Interior::before {
    opacity: 1;
  }

  &:active .Interior::before {
    border-color: var(--color-coral-dark);
  }

  &:hover .Order {
    background-color: var(--color-coral);
  }

  &:active .Order {
    background-color: var(--color-coral-dark);
  }
}

.Interior {
  position: relative;
  display: grid;
  gap: 1.6rem;
  padding: 1rem 1rem 1.6rem 1rem;
  border-radius: 1rem;
  background-color: var(--color-black-6);
  transition: background-color var(--duration-normal) var(--easing-cubic);

  &::before {
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    inset: -0.1rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--color-coral-dark);
    opacity: 0;
    transition-property: opacity, border-color;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--easing-cubic);
  }
}

.Media {
  z-index: 2;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.8rem;
  background-color: rgb(0, 0, 0, 0.1);
  overflow: hidden;
}

.Image {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &.pixelated {
    image-rendering: pixelated;
  }
}

.Details {
  display: grid;
  gap: 0.6rem;
  text-align: center;
}

.Title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-black);
}

.Subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-black-60);
}

.Order {
  z-index: 3;
  position: absolute;
  bottom: -1.1rem;
  left: auto;
  right: auto;
  display: grid;
  place-items: center;
  place-content: center;
  justify-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--color-black);
  transition: background-color var(--duration-normal) var(--easing-cubic);
}

.OrderLabel {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
}
