.PokemonPage {
  --back-action-padding: 0.6rem;
  --back-action-font-size: 1.4rem;

  @media (min-width: 768px) {
    --back-action-padding: 0.8rem;
    --back-action-font-size: 1.6rem;
  }

  @media (min-width: 1280px) {
    --back-action-padding: 1rem;
    --back-action-font-size: 1.8rem;
  }

  @media (min-width: 1440px) {
    --back-action-padding: 1.2rem;
    --back-action-font-size: 2rem;
  }
}

.BackAction {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--back-action-padding);
  border-radius: var(--back-action-padding);
  color: var(--color-cream);
  background-color: var(--color-black-90);

  &:focus-visible {
    outline-color: var(--color-coral);
  }

  &:hover {
    background-color: var(--color-coral);
  }

  &:active {
    background-color: var(--color-coral-dark);
  }
}

.BackActionLabel {
  font-size: var(--back-action-font-size);
  font-weight: 700;
}
