.PokedexResults {
  /*
   * This wrapper - or any other parent of <CardList /> - cannot be
   * positioned (have a stacking context) or else offsetTop cannot
   * be captured within useVurtis().
  */
}

.LoadMoreWrapper {
  display: grid;
  justify-items: center;
  padding-top: var(--app-gap);
}
