.PokedexResults {
  /*
   * This wrapper - or any other parent of <CardList /> - cannot be
   * positioned (have a stacking context) or else offsetTop cannot
   * be captured within useVurtis().
  */
}

.LoadMoreWrapper {
  display: grid;
  justify-items: center;
  padding-top: var(--app-gap);
}

.ActionBar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
