.Header {
  display: grid;
  gap: var(--app-gap);
  padding-top: var(--app-gap);
  padding-left: var(--app-padding);
  padding-right: var(--app-padding);
  justify-content: center;
  text-align: center;
}

.Content {
  display: grid;
  gap: 1rem;
}

.Title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black);
}

.Subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-black-60);
}

.Children {
}
