.TextLink {
  color: currentColor;

  &[data-link-pressed] {
    color: var(--color-coral);
    text-decoration-color: currentColor;
    /* consider mixin: .interaction-disable */
  }

  &:hover {
    color: var(--color-coral);
  }

  &:active {
    color: var(--color-coral-darker);
  }
}
