.Nav {
}

.List {
  display: grid;
  grid-auto-flow: column;
  gap: 0.6rem;
  justify-content: center;
}

.Item {
  display: grid;
  grid-auto-flow: column;
  gap: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;

  &::before {
    display: block;
  }

  & + &::before {
    content: '\2022';
  }
}

.EmptyState {
  font-size: 1.6rem;
  font-weight: 700;
}
